.vscode/**
.vscode-test/**
.env
.prettierignore
.prettierrc.json
.gitignore
CONTRIBUTING.md
dist/**
distribution/**
out/test/**
package-lock.json
pkg/**
scripts/**
test/**
src/**
**/*.map
tsconfig.json
plz-out/**
.plzconfig
pleasew
typings/**
